<launch>
    <!-- LIDAR - LAUNCH -->
    <include file="$(find robocop_description)/launch/ld19.launch"/>

    <!-- RVIZ - LAUNCH -->
    <include file="$(find robocop_description)/launch/auto/display_auto.launch"/>

    <!-- ROS_SERIAL - LAUNCH -->
    <include file="$(find robocop_description)/launch/ros_serial.launch"/>

    <!-- ODOMETRY - LAUNCH -->
    <node pkg="robocop_description" name="odometry" type="odometry.py" output = "screen"/> 

</launch>