<launch>
    <!-- LIDAR - LAUNCH -->
    <include file="$(find robocop_description)/launch/ld19.launch"/>

    <!-- RVIZ - LAUNCH -->
    <include file="$(find robocop_description)/launch/display.launch"/>

    <!-- ROS_SERIAL - LAUNCH -->
    <include file="$(find robocop_description)/launch/ros_serial.launch"/>

    <!-- CONTROLLER - LAUNCH -->
    <!--<include file="$(find robocop_description)/launch/ps4.launch"/>-->

    <!-- CAMERA - LAUNCH -->
    <!--<include file="$(find robocop_description)/launch/camera.launch"/>-->

</launch>